* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

:root {
  --baby-blue: #e7ecff;
  --blue: #807cc6;
  --gray-blue: #e1daeb;
  --off-white: #ebedf1;
  --black: #141414;
  --bright-blue: #00d1ff;
  --gray: #222222;
  --greenish-blue: #0c5b6c;
}


body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

body div {
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
}
